.main-section {
  justify-content: flex-start;  /* Start from the top of the container */
  align-items: center;  /* Center the content horizontally */
}

.profile-picture-and-post-title-container {
  width: 100%;  /* Ensure this stretches full width */
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-left: 20px; /* Optional: Add space to the left */
}

.profile-picture-and-post-title {
  display: flex;
  justify-content: flex-start; /* Align to the left */
  align-items: center;  /* Vertically center */
}



.author-profile-picture {
  height: 80px;
  border-radius: 45px;
  margin-left: 38px;
  margin-right: 15px;
}

.post-title {
  font-weight: bold;
  font-size: 30px;
}

.main-part-of-the-post {
  width: calc(100%);
}

.post-texts {
  font-size: 22px;
  margin-inline: 18px;
}

.post-ratings {
  border-top: 1px solid rgb(187, 187, 187);
  margin-top: 8px;
  width: 100%;
}

.post-ratings div {
  margin-top: 18px;
}