.report-post-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.report-post-text {
  color: rgb(255, 255, 255);
  text-align: center;
}

.report-post-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: -1px;
  z-index: 999;
  top: 120px;
  background-color: rgb(29, 155, 240);
  border: 1px solid black;
  border-radius: 8px;
}

.reasoning-categories {
  height: 38px;
  font-size: 22px;
  padding-left: 8px;
}

.reasoning {
  height: 188px;
  padding-left: 12px;
  font-size: 16px;
}

.report-post-button:disabled {
  background-color: #bbb; /* Solid grey color */
  color: #fff;            /* Solid white text */
  opacity: 1;              /* Ensure the button is not translucent */
}

.report-post-button {
  background-color: rgb(29, 155, 240);
  height: 55px;
  border: 1px solid black;
  cursor: pointer;
}

.home-section-shadowed {
  height: 100%;
  width: 100%;
  opacity: 0.28;
  pointer-events: none;
}


body {
  overflow: hidden
}
