p {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}

a {
  cursor: pointer;
  color: rgb(0, 0, 0); /* Optionally change the link color to indicate it's disabled */
  text-decoration: none; /* Optionally remove the underline */
}

textarea {
  resize: none; /* Disable resizing */
}

.main-section {
    position: relative;
    top: 70px;
    left: 185px;  /* This should be adjusted for responsiveness */
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 185px); /* Ensure it takes up remaining space */
    overflow-x: hidden; /* Prevent horizontal overflow */
    padding-bottom: 28px;
  }
  
  
.back-button-image {  
  position: absolute; /* Use absolute positioning */
  top: 5px; 
  left: 8px;
  height: 35px;
  border-radius: 35px;
  z-index: 99;
}


.home-section-shadowed, .shadowed-background {
  height: 100%;
  width: 100%;
  opacity: 0.28;
  pointer-events: none;
  z-index: 1;
}

.above-everything {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
}

.nothing-here-texts {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-inline: 18px;
}


  @media (max-width: 1000px) {
    .main-section {
      left: 125px;
      width: calc(100% - 125px); /* Ensure content fits within the viewport */
    }
  }
  
  @media (max-width: 700px) {
    .main-section {
      left: 95px;
      width: calc(100% - 95px); /* Ensure content fits within the viewport */
    }
    
    .back-button-image {
      height: 28px;
    }
  }
  
  @media (max-width: 500px) {
    .main-section {
      left: 0;
      width: 100%; 
      padding-bottom: 126px;
    }
  }
