.profile-picture-and-other-information {
  margin-top: 25px;
  width: 100%;
  height: 200px;
  border: 1px solid rgb(177, 177, 177);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.profile-container {
  width: 80%;
}

.posts-section {
  width: 100%;
}

.profile-picture {
  height: 160px;
  border-radius: 80px;
  border: none;
  margin: 20px;
}

.profile-picture-container {
  border-right: 1px solid rgb(177, 177, 177);
  height: 100%;
}

.other-information-container {
  display: flex;
  flex-direction: column; /* Change from row to column for vertical layout */
  justify-content: flex-start; /* Align items at the top */
  padding: 15px;
}


.profile-nickname {
  flex: 2;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.profile-username {
  flex: 1;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 12px;
  color: rgb(68, 68, 68);
}

.profile-bio {
  flex: 5;
  font-size: 18px;
  margin: 0;  
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.others-post {
  display: flex;
  justify-content: center;
  align-items: center;
}


.latest-post-text-container {
  background-color: rgb(162, 255, 255);
  margin-block: 28px;
}

.latest-post-text-container p {
  font-weight: bold;
  font-size: 28px;
  padding-left: calc(100vw * 0.038);
}


.profile-followers-following-likes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(177, 177, 177);
  border-top: none;
}

.profile-followers-following-likes-container a {
  font-size: 18px;
  margin-inline: 25px;
  margin-block: 15px;
}

.profile-followers-following-likes-container a:hover {
  text-decoration: underline;
}



@media (max-width: 1000px) {
  .other-information-container {
    padding: 10px;
  }

  .profile-nickname {
    font-size: 25px;
  }
  
  .profile-username {
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .profile-bio {
    font-size: 15px;
  }
}


@media (max-width: 700px) {
  .other-information-container {
    padding: 8px;
  }

  .profile-nickname {
    font-size: 22px;
  }
  
  .profile-username {
    font-size: 10px;
    margin-bottom: 6px;
  }
  
  .profile-bio {
    font-size: 15px;
  }

  .profile-followers-following-likes-container a {
    font-size: 15px;
    margin-inline: 20px;
    margin-block: 12px;
  }
}

@media (max-width: 650px) {
  .other-information-container {
    padding: 8px;
  }

  .profile-nickname {
    font-size: 22px;
  }
  
  .profile-username {
    font-size: 10px;
    margin-bottom: 6px;
  }
  
  .profile-bio {
    font-size: 11px;
  }

  .profile-followers-following-likes-container a {
    font-size: 13px;
    margin-inline: 18px;
    margin-block: 9px;
  }
}