.profile-picture-and-other-information {
  margin-top: 25px;
  width: 100%;
  height: 200px;
  border: 1px solid rgb(177, 177, 177);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.profile-container {
  width: 80%;
}

.posts-section {
  width: 100%;
}

.profile-picture {
  height: 160px;
  border-radius: 80px;
  border: none;
  margin: 20px;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(177, 177, 177);
  height: 100%;
}

.other-information-container {
  position: relative;
  display: flex;
  flex-direction: column; /* Change from row to column for vertical layout */
  justify-content: flex-start; /* Align items at the top */
  padding: 15px;
  width: 100%;
}


.profile-nickname {
  flex: 2;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.profile-username {
  flex: 1;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 12px;
  color: rgb(68, 68, 68);
}

.profile-bio {
  flex: 5;
  font-size: 18px;
  margin: 0;  
}

.others-post {
  display: flex;
  justify-content: center;
  align-items: center;
}


.latest-post-text-container {
  background-color: rgb(29, 155, 240);
  margin-block: 28px;
}

.latest-post-text-container p {
  font-weight: bold;
  font-size: 28px;
  padding-left: calc(100vw * 0.038);
  color: white;
}


.profile-followers-following-likes-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(177, 177, 177);
  border-top: none;
}

.follow-button {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 18px;
  background-color: rgb(29, 155, 240);
  color: white;
  padding: 10px 22px;
  border: none;
  font-weight: bold;
  border-radius: 50px;
  line-height: 22.5px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  margin-left: 8px;
}
.follow-button:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}
.follow-button:active {
  opacity: 0.8;
}

.followed-button {
  background-color: rgb(212, 212, 212);
  color: black;
}

.user-followers-count, .user-followings-count, .user-likes-count {
  font-size: 18px;
  margin-inline: 25px;
  margin-block: 15px;
}

.user-followers-count:hover, .user-followings-count:hover {
  text-decoration: underline;
}



@media (max-width: 1000px) {
  .other-information-container {
    padding: 10px;
  }

  .profile-nickname {
    font-size: 25px;
  }
  
  .profile-username {
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  .profile-bio {
    font-size: 15px;
  }
}


@media (max-width: 700px) {
  .other-information-container {
    padding: 8px;
  }

  .profile-nickname {
    font-size: 22px;
  }
  
  .profile-username {
    font-size: 10px;
    margin-bottom: 6px;
  }
  
  .profile-bio {
    font-size: 15px;
  }

  .user-followers-count, .user-followings-count, .user-likes-count {
    font-size: 15px;
    margin-inline: 20px;
    margin-block: 12px;
  }

  .follow-button {
    top: 8px;
    right: 8px;
    font-size: 15px;
    padding: 8px 16px;
  }
}

@media (max-width: 600px) {
  .other-information-container {
    padding: 8px;
  }

  .profile-nickname {
    font-size: 22px;
  }
  
  .profile-username {
    font-size: 10px;
    margin-bottom: 6px;
  }
  
  .profile-bio {
    font-size: 11px;
  }

  .user-followers-count, .user-followings-count, .user-likes-count {
    font-size: 13px;
    margin-inline: 18px;
    margin-block: 9px;
  }

  .profile-picture {
    height: 120px;
    border-radius: 60px;
  }

  .profile-picture-and-other-information {
    height: 150px;
  }

  .follow-button {
    top: 8px;
    right: 8px;
    font-size: 13px;
    padding: 5px 13px;
  }
}


@media (max-width: 425px) {
  .other-information-container {
    padding: 8px;
  }

  .profile-nickname {
    font-size: 18px;
  }
  
  .profile-username {
    font-size: 8px;
    margin-bottom: 6px;
  }
  
  .profile-bio {
    font-size: 10px;
  }

  .profile-picture {
    height: 90px;
    border-radius: 45px;
    margin: 10px;
  }

  .profile-picture-and-other-information {
    height: 120px;
  }
  
  .latest-post-text-container p {
    font-size: 22px;
  }

  .follow-button {
    top: 5px;
    right: 5px;
    font-size: 12px;
    padding: 3px 12px;
  }

  .user-followers-count, .user-followings-count, .user-likes-count {
    font-size: 13px;
    margin-inline: 18px;
    margin-block: 9px;
  }
}

@media (max-width: 320.1px) {
  .user-followers-count, .user-followings-count, .user-likes-count {
    font-size: 10px;
    margin-inline: 18px;
    margin-block: 9px;
  }
}